:root {
  --animation-pre-delay: 1000ms;
  --fade-path-in-duration: 250ms;
  --draw-line-duration: 1000ms;
  --draw-arrow-head-duration: 300ms;
}

path {
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 0 100;
  opacity: 0;
}

#arrow-line {
  animation: draw var(--draw-line-duration) var(--animation-pre-delay) ease-out
      forwards,
    fadeIn var(--fade-path-in-duration) var(--animation-pre-delay) ease-in
      forwards;
}

#arrow-head-1 {
  animation: draw var(--draw-arrow-head-duration)
      calc(var(--animation-pre-delay) + var(--draw-line-duration)) ease-out
      forwards,
    fadeIn var(--fade-path-in-duration)
      calc(var(--animation-pre-delay) + var(--draw-line-duration)) ease-in
      forwards;
}


#arrow-head-2 {
  animation: draw var(--draw-arrow-head-duration)
      calc(
        var(--animation-pre-delay) + var(--draw-line-duration) +
          var(--draw-arrow-head-duration)
      )
      ease-out forwards,
    fadeIn var(--fade-path-in-duration)
      calc(
        var(--animation-pre-delay) + var(--draw-line-duration) +
          var(--draw-arrow-head-duration)
      )
      ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes draw {
  from {
    stroke-dasharray: 0 100;
  }
  to {
    stroke-dasharray: 100 100;
  }
}
